:root {
  --color-background: #f0f5f9;
  --color-primary: #753422;
  --color-secondary: #b05b3b;
  --color-tertiary: #b05b3b;
  --color-accent: #ffebc9;
}

* {
  background-color: var(--color-background);
  color: var(--color-primary);
  outline: none;
}

.title-container h1 {
  text-align: center;
}

.title-container h3 {
  padding: 0rem 1rem;
}

.settings-title-container {
  padding: 0rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 15rem;
  padding: 0rem 1rem;
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.version-container {
  padding: 0rem 1rem;
  text-align: end;
}
