:root {
  --color-background: #1c1b1c;
  --color-primary: #bf3131;
  --color-secondary: #e36464;
  --color-tertiary: #d8a25e;
  --color-accent: #eeeeee;
}

* {
  background-color: var(--color-background);
  color: var(--color-accent);
}

body {
  width: 25rem;
  padding: 0 1rem;
}

label {
  cursor: pointer;
}

.title-container h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px;
  color: var(--color-primary);
}

.title-container h3 {
  font-size: 14px;
  padding-left: 1rem;
}

.title-container {
  margin-bottom: -5px;
}

.settings-title-container {
  padding: 0rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none !important; /* Safari and Chrome */
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding: 2px 4px;
}

.checkbox-container label {
  font-size: 14px;
  font-weight: bold;
}

.version-container {
  padding: 0rem 1rem;
  text-align: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

input:checked + .slider {
  background-color: var(--color-tertiary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-tertiary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.collapsible {
  padding-left: 1rem;
  cursor: pointer;
  width: 100%;
  outline: none;
  display: block;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-accent);
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.collapsible:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.active {
  background-color: var(--color-tertiary);
  color: var(--color-background);
}

.btn-settings-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.btn-settings-container p {
  width: 35%;
  text-align: center;
}

#reset-settings {
  cursor: pointer;
  padding: 6px;
  outline: none;
  border: 1px solid var(--color-secondary);
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 35%;
}

#reset-settings:hover {
  background-color: var(--color-secondary);
}
