:root {
  --color-background: #1c1b1c;
  --color-background-container: #dddddd;
  --color-primary: #e36464;
  --color-secondary: #bf3131;
  --color-tertiary: #96ceb4;
  --color-accent: #eeeeee;
}

* {
  color: var(--color-accent);
  outline: none;
}

body {
  background-color: var(--color-background);
}

h1 {
  color: var(--color-primary);
}

label {
  cursor: pointer;
}

.settings-title-container {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

.settings-title-container h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: -10px;
}

.settings-options-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-items: center;
}

@media screen and (max-width: 970px) {
  .settings-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

#sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
}

#general {
  grid-row: 1;
  grid-column: 2;
}

#home-page {
  grid-row: 2;
  grid-column: 2;
}

#video {
  grid-column: 1;
  grid-row: 3 / span 2;
}

#subscriptions {
  grid-row: 3;
  grid-column: 2;
}

#stream {
  grid-row: 4;
  grid-column: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin: 0rem 1rem;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 12px;
  background-color: var(--color-background-container);
}

.container h2 {
  margin-bottom: -3px;
  padding-left: 4px;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-secondary);
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding: 2px 4px;
  background-color: var(--color-background-container);
}

.checkbox-container label {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-background);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.version-container {
  padding: 0rem 1rem;
  text-align: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
